*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    
}

/* html{
    width: fit-content;
} */


.container{
    width: 100%;
    min-height:100vh;
    background: #ffffff;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
    
}

header{
    width: 100%;
    height: 80px;
    background: #fff;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
}

.header{
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header .top-left{
    display: flex;
    align-items: center;
}

.header .top-left .location{
    margin-left: 30px;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.location span{
    font-weight: bold;
    color: #3d4152;
    border-bottom: 2px solid #3d4152;
}

.location p{
    margin-left: 10px;
    color: #686b78;
}
.location i{
    margin-left: 10px;
    color: #ffa700;
}


.header .top-right{
    /* background: pink; */
    font-weight: bold;
}

.header .top-right ul{
    list-style: none;
}

.top-right ul li{
    display: inline-block;
    margin-left: 45px;
}
.top-right ul li a{
    text-decoration: none;
    color: #3d4152;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-right ul li a p{
    margin-left:10px ;
}
.top-right ul li a p sup{
    font-size: 10px;
    font-weight: bold;
    color: #ffa700;
}


main{
    padding-top:80px ;
    min-height: 415px;
    background: #171a29;
    display: flex;
    align-items: center; 
}



main .main{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: no-wrap;
    overflow: hidden;
    overflow-x: scroll;
    position: relative; 
}

.main::-webkit-scrollbar{
    display: none;
}

.main .slide{
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position:absolute;
    top: 100px;
    right: 0;
}


.main .poster{
    min-width: 260px;
    height: 260px;
    margin-right: 50px;
}

.main .poster img{
    width: 100%;
    height: 100%;
}




section{
    margin: 0 auto;
    /* background: rgb(226, 164, 241); */
    width: 1200px;
    min-height: 100vh;
}

section .section-header{
    position: sticky;
    top: 0;
    z-index: 11111;
    background-color: #fff;
    height: 80px;
    border-bottom: 1px solid #cccccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}



.section-header .top-left h1{
    color:#282C3F ;
}

section .food-list{
    margin: 40px 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section .food-list .card{
    width:254px ;
    height: 390px;
    margin-bottom: 30px;
    cursor: pointer;
}

section .food-list .hidden{
    border: 1px solid transparent;
    padding: 15px;
    box-sizing: content-box;
    transition: 0.3s;
}

section .food-list .hidden:hover{
    border: 1px solid #bbbbbb;
    box-shadow: 5px 8px 9px -8px #929292;
}



section .food-list .card .image{
    width: 100%;
    height: 160px;
}
section .food-list .card .image img{
    width: 100%;
    height: 100%;
    margin: 8px 0 0;

}

section .food-list .card .title{
    width: 100%;
    font-weight: 600;
    margin-top: 15px;
    font-size: 17px;
    color: #282c3f;
}
section .food-list .card .about{
    margin-top: 10px;
    color: #686b78;
    font-size: 13px;
}
section .food-list .card .details{
    margin-top: 10px;
    color: #686b78;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
section .food-list .card .details .rating{
    display: flex;
    gap: 3px;
    color: #fff;
    background: #48c479;
    padding: 2px 10px;
}
section .food-list .card hr{
    opacity: 0.3;
}
section .food-list .card .offer-code{
    margin: 15px 0 0;
}

section .food-list .card .offer-code span{
    
    font-size: 12px;
    font-weight: bold;
    color:#8a584b;
}

section .food-list .card .hide{
    margin: 15px 0 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}



section .food-list .card:hover .hide{
    margin: 15px 0 0;
    visibility: visible;
    opacity: 1;
     
}



section .food-list .card .hide p{
    margin: 15px 0 0;
    text-align: center;
    font-size: 12px;
    color: rgb(86, 149, 245);
    font-weight: bold;
}




footer{
    width: 100%;
    background: #000;
    color: #fff;
}

footer .top{
    padding-top: 50px;
    padding-bottom: 30px;
    background: #000;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #3d4152;
}

footer .top ul{
    list-style:none;
}
footer .top .company, .contact,.legal,.resource{
   width: 300px;
}

footer .top .resource .section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}


footer .top .title{
    text-transform: uppercase;
    margin-bottom: 30px;
    color:#686b78;
    font-size: 13px;
    font-weight: 800;
}

footer .top ul li{
    margin-top:20px ;
    font-size: 15px;
}



footer .bottom{
    /* background: #000; */
    padding: 30px 0;
}

footer .bottom ul{
    list-style:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .bottom ul li{
    display: inline-block;
}

footer .bottom ul li:nth-child(1) img{
    width: 142px;
    height: auto;
}
footer .bottom ul li:nth-child(3) img{
    width: 24px;
    height: auto;
    margin: 0 10px;
}





















